<robot name="robot" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <!--Propiedades-->
  <xacro:property name="length" value="0.3"/>
  <xacro:property name="width" value="0.05"/>
  <xacro:property name="pkg" value="robot_description"/>
  <!--Materiales-->
  <material name="black">
    <color rgba="0 0 0 1"/>
  </material>
  <material name="cyan">
    <color rgba="0 1 1 1"/>
  </material>
  <material name="magenta">
    <color rgba="1 0 1 1"/>
  </material>
  <material name="yellow">
    <color rgba="1 1 0 1"/>
  </material>
  
  <!--Macros-->
  <!--Eslabones-->
  <xacro:macro name="link_macro" params="name box:='0 0 0' xyz:='0 0 0' rpy:='0 0 0' material:='black'">
    <link name="${name}">
    <visual>
      <geometry>
        <box size="${box}"/>
      </geometry>
      <origin xyz="${xyz}" rpy="${rpy}"/>
      <material name="${material}"/>
    </visual>
  </link>
  </xacro:macro>
  <xacro:macro name="link_mesh_macro" params="name box:='0 0 0' xyz:='0 0 0' rpy:='0 0 0' material:='black' mesh">
    <link name="${name}">
    <visual>
      <geometry>
        <mesh filename="package://${pkg}/meshes/${mesh}" />
      </geometry>
      <origin xyz="${xyz}" rpy="${rpy}"/>
      <material name="${material}"/>
    </visual>
  </link>
  </xacro:macro>
  
  <!--Juntas-->
  <xacro:macro name="joint_macro" params="name type parent child rpy xyz">
  <joint name="${name}" type="${type}"> 
    <parent link="${parent}"/>
    <child link="${child}"/>
    <axis xyz="0 0 1"/>
    <limit lower="-3.14" upper ="3.14" effort="10.0" velocity="10.0"/>
    <origin rpy="${rpy}" xyz="${xyz}"/> 
  </joint>
  </xacro:macro>
  
  <!--Eslabones-->
  <xacro:link_macro      name="base_link"      box="0.5 0.5 0.1"   xyz="0 0 -0.05" material="black"/>
  <xacro:link_mesh_macro name="shoulder_link"  box="0.3 0.05 0.05" xyz="0.15 0 0"  material="cyan"    mesh="link.stl"/>
  <xacro:link_mesh_macro name="arm_link"       box="0.3 0.05 0.05" xyz="0.15 0 0"  material="magenta" mesh="link.stl"/>
  <xacro:link_mesh_macro name="forearm_link"   box="0.3 0.05 0.05" xyz="0.15 0 0"  material="yellow"  mesh="link.stl"/>
  <!--Juntas-->
  <xacro:joint_macro name="shoulder_joint"  type="revolute" parent="base_link"      child="shoulder_link" rpy="1.57 0 0"  xyz="0 0 0"/>
  <xacro:joint_macro name="arm_joint"       type="revolute" parent="shoulder_link"  child="arm_link"      rpy="0 0 0"     xyz="0.3 0 0"/>
  <xacro:joint_macro name="forearm_joint"   type="revolute" parent="arm_link"       child="forearm_link"  rpy="0 0 0"     xyz="0.3 0 0"/>

</robot>